{% extends "shop/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Blog
{% endblock title %}

{% block breadcrumb %}
    Blog
{% endblock breadcrumb %}

{% block content %}
    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__item">
                            <h4>Recent News</h4>
                            <div class="blog__sidebar__recent">
                                {% for post in recent_three_posts %}
                                    <a href="{{ post.get_absolute_url }}"
                                       class="blog__sidebar__recent__item">
                                        <div class="blog__sidebar__recent__item__pic">
                                            <img src="{% thumbnail post.image 60x60 crop %}" alt="">
                                        </div>
                                        <div class="blog__sidebar__recent__item__text">
                                            <h6>{{ post.title }}</h6>
                                            <span>{{ post.publish }}</span>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Search By</h4>
                            <div class="blog__sidebar__item__tags">
                                <a href="#">Apple</a>
                                <a href="#">Beauty</a>
                                <a href="#">Vegetables</a>
                                <a href="#">Fruit</a>
                                <a href="#">Healthy Food</a>
                                <a href="#">Lifestyle</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7">
                    <div class="row">
                        {% for post in posts %}
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="blog__item">
                                    <div class="blog__item__pic">
                                        <img src="{% if post.image %}{% thumbnail post.image 360x360 crop %}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="">
                                    </div>
                                    <div class="blog__item__text">
                                        <ul>
                                            <li>
                                                <i class="fa fa-calendar-o"></i> {{ post.publish }}
                                            </li>
                                            <li>
                                                <i class="fa fa-comment-o"></i> 5
                                            </li>
                                        </ul>
                                        <h5>
                                            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                        </h5>
                                        <p>{{ post.body|truncatechars:80|linebreaks }}</p>
                                        <a href="{{ post.get_absolute_url }}" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% if posts_count > 4 %}
                            <div class="col-lg-12">{% include "shop/pagination.html" with page=posts %}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock content %}
