{% extends "shop/base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Pay your order
{% endblock title %}

{% block breadcrumb %}
    Order Summary
{% endblock breadcrumb %}

{% block content %}
    <!-- Order Confirmation Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.items.all %}
                                    <tr>
                                        <td class="shoping__cart__item">
                                            <img src="{% thumbnail item.product.image 60x60 crop %}" alt="">
                                            <h5>{{ product.name }}</h5>
                                        </td>
                                        <td class="shoping__cart__price">${{ item.price }}</td>
                                        <td class="shoping__cart__quantity">{{ item.quantity }}</td>
                                        <td class="shoping__cart__total">${{ item.get_cost }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if order.items.all|length > 0 %}
                    <div class="col-lg-6">
                        <div class="shoping__checkout">
                            <h5>Order Total</h5>
                            <ul>
                                {% if order.coupon %}
                                    <li>
                                        Subtotal <span id="cart-subtotal">${{ order.get_total_cost_before_discount|floatformat:2 }}</span>
                                    </li>
                                    <li>
                                        Discount ({{ order.discount }}% off) <span id="cart-discount">- ${{ order.get_discount|floatformat:2 }}</span>
                                    </li>
                                {% endif %}
                                <li>
                                    Total <span id="cart-total">${{ order.get_total_cost|floatformat:2 }}</span>
                                </li>
                            </ul>
                            <form action="{% url "payment:process" %}" method="post">
                                <input type="submit" value="Pay now" class="primary-btn">
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <!-- Order Confirmation Section End -->
{% endblock content %}
